.menu-items {
    width: 223px;
}
.icon {
    margin-right: 10px;
}
.borderLogin {
    height: 1px;
    position: absolute;
    width: 223px;
    left: 0px;
    top: 0;
    background: rgba(22, 24, 35, 0.12);
}
